ul.nav.nav-pills {
    text-align: right;
    padding-top: 10px;
}

.nav-pills > li {
    float: none;
    display: inline-block;
}

.breadcrumbs {
    padding: 1.2em 0;
}

.sorting {
    text-align: left;
    width: 80%;
    padding: 1em;
}

.pokemon-listing {
    padding: 1em 0;
}

.thumb {
    height: 50px;
    width: 50px;
}

.gallery {
    max-height: 250px;
    max-width: 250px;
    min-height: 150px;
    min-width: 150px;
}

.username {
    text-align: center;
}

label {
    display: block;
}

.header {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.header > h2 {
    float: left;
    display: inline-block;
}

.site-title, .site-subtitle {
    text-align: center;
}

.site-subtitle {
    padding-bottom: 10px;
}

.site-name a:hover {
    text-decoration: none;
}

.no-content-notice {
    text-align: center;
    color: gray;
}

.pokemon-details {
    font-size: large;
    font-family: sans-serif;
    font-weight: 700;
}

.pokemon-description {
    font-family: sans-serif;
    font-size: medium;
    font-weight: 300;
}