{% extends 'base.html' %}

{% block content %}
    {{ object.category }} / {{ object }}

    <div>Ordering:
        <a href="{% url 'subcat_list_view' object.pk %}?order=level">Level Ascending</a>
        <a href="{% url 'subcat_list_view' object.pk %}?order=-level">Level Descending</a>
        <a href="{% url 'subcat_list_view' object.pk %}?order=-posted">Most Recent</a>
    </div>

    <div class="container">
        {% for pokemon in pokemon_list %}
            <div>
                {% if pokemon.image %}
                    <img src="{{ MEDIA_URL }}{{ pokemon.image.url }}">
                {% endif %}
                <div>Lvl {{ pokemon.level }}
                    <a href="{% url 'pokemon_detail_view' pokemon.pk %}">{{ pokemon }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div>
        <a href="{% url 'listing_create_view' object.pk %}">Create Listing</a>
    </div>
{% endblock %}