{% extends 'base.html' %}

{% block content %}
    {{ object.category }} / {{ object }}
    <div class="container">
        {% for pokemon in object.pokemon_set.all %}
            <div>
                {% if pokemon.image %}
                    <img src="{{ MEDIA_URL }}{{ pokemon.image.url }}">
                {% endif %}
                <div>Lvl {{ pokemon.level }}
                    <a href="{% url 'pokemon_detail_view' pokemon.pk %}">{{ pokemon }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div>
        <a href="{% url 'listing_create_view' object.pk %}">Create Listing</a>
    </div>
{% endblock %}