{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base HTML</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="{% static 'main.css' %}" rel="stylesheet">
</head>
<body>
    {% if request.user.is_authenticated %}
        <div class="header">
            <h2 class="site-name"><a href="{% url 'home_view' %}">PokeList</a></h2>
            <ul class="nav nav-pills">
                <li role="presentation">
                    <a href="{% url 'account_detail_view' request.user.accountprofile.pk %}">My Account</a>
                </li>
                <li role="presentation"><a href="{% url 'home_view' %}">Browse Categories</a></li>
                <li role="presentation"><a href="{% url 'logout_view' %}">Logout</a></li>
            </ul>
        </div>
    {% else %}
        <div class="header">
            <h2 class="site-name"><a href="{% url 'home_view' %}">PokeList</a></h2>
            <ul class="nav nav-pills">
                <li role="presentation"><a href="{% url 'sign_up_view' %}">Create Account</a></li>
                <li role="presentation"><a href="{% url 'login_view' %}">Login</a></li>
            </ul>
        </div>
    {% endif %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>