{% extends 'base.html' %}

{% block content %}
    <ul>
        {% for category in categories %}
            <li><a href="{% url 'listing_by_category' category.pk %}">{{ category.pk }} {{ category }}</a></li>
                <ul>
                    {% for subcat in category.subcategory_set.all %}
                        <li><a href="{% url 'listing_by_subcategory' subcat.pk %}">{{ subcat.pk }} {{ subcat }}</a></li>
                    {% endfor %}
                </ul>
        {% endfor %}
    </ul>
{% endblock %}