{% extends 'base.html' %}

{% block content %}
{% for category in categories %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><a href={% url 'listing_by_cat_view' category.pk %}>{{ category }}</a></h3>
        </div>
        <div class="panel-body">
            {% for subcat in category.subcategory_set.all %}
                <p><a href="{% url 'subcat_list_view' subcat.pk %}">{{ subcat }}</a></p>
            {% endfor %}
        </div>
    </div>
{% endfor %}
{% endblock %}

